.body {
    font-family: Arial, serif;
    font-size: 15px;
    color: #CDCDCD;
    margin: 0 auto;
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section_header {
    background: url("assets/start-screen-gradient-background.png") center no-repeat;
    -webkit-background-size: auto;
}

/*header*/
.title {
    margin: 60px 0 0 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1280px;
    height: 180px;
    margin: 0 0 0 0;
}

.header_logo {
    font-family: Georgia, serif;
    font-size: 32px;
    font-style: normal;
    letter-spacing: 0.06em;
    text-align: left;
    color: #F1CDB3;
    font-weight: normal;
    line-height: 110%;
    margin: 0 0 0 40px;
}

.header_sub_logo {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #fff;
    margin: 10px 0 0 44px;
}

.nav {
    font-family: Arial, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    margin: 76px 5px 0 0;
}

.nav_link {
    color: #CDCDCD;
    margin: 0 35px 0 0;
    text-decoration: none;
}

.nav_link:hover {
    color: #FAFAFA;
    text-decoration: underline;
}

/*intro*/
.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1280px;
}

.intro_title {
    font-family: Georgia, serif;
    font-size: 44px;
    color: #fff;
    margin: 163px 0 0 0;
}

.intro_left {
    width: 460px;
    margin: 0 0 0 40px;
}

.intro_right {
    margin: 0 50px auto;
}

.paragraph_intro {
    margin: 42px 0 0 0;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
}

/*about*/
.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1280px;
    color: #4C4C4C;
    font-family: Arial, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
}

.about_left {
    width: 300px;
    height: 408px;
    margin: 80px 60px 100px 215px;
}

.about_right {
    width: 430px;
    margin: 94px 120px 114px 60px;
}

.about_title {
    font-family: Georgia, serif;
    font-size: 35px;
    font-style: normal;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #545454;
}

/*pets*/
.pets {
    background: #F6F6F6;
    height: 877px;
    width: 1280px;
    left: 0;
    top: 1496px;
    border-radius: 0;
}

.pets_logo {
    text-align: center;
    margin: 80px auto;
    font-family: Georgia, serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #545454;
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.help {
    background: #FFFFFF;
    height: 611px;
    width: 1280px;
    left: 0;
    top: 2373px;
    border-radius: 0;

}

.help_title {
    text-align: center;
    margin: 80px auto;
    font-family: Georgia, serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #545454;
}

.icon {
    font-family: Georgia, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;

}

.icon_title {
    padding-top: 30px;
}

.container_icon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    padding-bottom: 55px;
}

.donation {

    height: 464px;
    top: 2984px;
    background: #F6F6F6;

    width: 1280px;
    left: 0;
    position: center;
    border-radius: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.donation_title {
    /* Heading */


    width: 300px;
    height: 90px;
    left: 677px;
    top: 1px;

    /* h3 */

    font-family: Georgia, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;
}

.donation_subtitle {
    /* Subheading */


    width: 307px;
    height: 17px;
    left: 677px;
    top: 111px;

    /* h5 */

    font-family: Georgia, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;
    /* identical to box height, or 17px */

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;
}

.donation_info {
    width: 380px;
    height: 72px;
    left: 677px;
    top: 211px;

    /* donation-description */

    font-family: Arial, serif;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */

    display: flex;
    align-items: center;

    /* color-dark-m */

    color: #B2B2B2;
}

.footer {
    height: 350px;
    width: 1280px;
    left: 0;
    top: 3448px;
    border-radius: 0;
    background: url("assets/start-screen-gradient-background.png") center no-repeat;
    -webkit-background-size: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer_title {
    font-family: Georgia, serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #FFFFFF;

}

.footer_text {
    font-family: Georgia, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #F1CDB3;

}

.footer_column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}