body {
    margin: 0;
    font-family: Arial, serif;
    font-size: 15px;
    color: #CDCDCD;

}

.header {
    padding-top: 60px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header_logo {
    font-family: Georgia, serif;
    font-size: 32px;
    font-style: normal;
    letter-spacing: 0.06em;
    text-align: left;
    color: #F1CDB3;
    font-weight: normal;
    line-height: 110%;
    display: flex;
    align-items: center;


}

.nav {
    font-family: Arial, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 30px;
    text-decoration: none;
    color: #CDCDCD;
}

.nav_link:hover {
    color: #FAFAFA;
    text-decoration: underline;
}

.container {

    width: 100%;
    max-width: 1280px;
    max-height: 810px;
    margin: 0 auto;
}

.intro {

    margin: 0;
    width: 100%;
    height: 808px;
    background: url("assets/start-screen-gradient-background.png") center no-repeat;
    -webkit-background-size: cover;
}

.intro_title {
    top: 50%;
    font-family: Georgia, serif;
    font-size: 44px;
    color: #F1CDB3;
}

.intro_inner_left {
    top: 343px;
    position: absolute;
    width: 500px;
    bottom: 451px;
}

.intro_inner_right {
    height: 728px;
    width: 698px;
    top: 180px;
    border-radius: 0px;
    position: absolute;
    left: calc(50% - 698px / 2 + 251px);
}
.about{
    background: #ffff;
    max-height: 588px;
    color: #4C4C4C;
    font-family: Arial, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    position: center;

}
.about_left{
    position: relative;
    top: 80px;
    width: 500px;
    bottom: 451px;
    left: 215px;
}
.about_right{
    position: relative;
    top: -300px ;
    width: 430px;
    left: 635px;
}
.about_title{
    font-family: Georgia, serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #545454;
}
.container_about{

    width: 100%;
    max-width: 1280px;
    max-height: 588px;
    margin: 0 auto;
}
.container_pets{
    position: absolute;
    height: 877px;
    left: 0;
    right: 0;
    top: 1496px;
    background: #F6F6F6;
}
.pets_logo{
    position: relative;
    top: 80px;
    font-family: Georgia, serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;

}